<section class="p-8">
  <h1 class="text-green-400 text-5xl mb-8">Hello Angular</h1>

  <p class="text-base mb-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi architecto,
    cumque eaque eligendi laudantium nulla perspiciatis veniam? Accusamus delectus dignissimos,
    inventore nemo pariatur quae vel veritatis. Accusantium, veniam voluptatem!
  </p>

  <p class="text-base mb-5">
    Animi asperiores assumenda aut dicta eos laudantium magni numquam odit,
    optio pariatur perferendis placeat quae rem sapiente sint veniam voluptas.
    Animi dolor eos libero odio officia perferendis porro quae, quos!
  </p>

  <p class="text-base mb-5">
    Aliquid corporis distinctio doloribus eius excepturi fugiat, in,
    libero magnam minus nisi perferendis porro, praesentium rerum velit voluptatibus?
    Accusamus aliquid laborum maxime molestiae mollitia soluta sunt voluptatum? Dolorem, id magnam.
  </p>

  <p class="text-base mb-5">
    Amet, beatae consectetur cumque cupiditate deleniti dolor ea earum fugiat,
    fugit hic in ipsum, laudantium minima minus molestiae nesciunt nobis nulla
    placeat praesentium quod repellat reprehenderit rerum sint voluptatibus voluptatum!
  </p>

  <p class="text-base">
    Architecto autem, beatae earum illum in ipsa laudantium minima pariatur repellendus sequi
    tempora, tenetur totam unde? Corporis doloribus, earum est fugit in inventore iure,
    laborum nesciunt nostrum placeat, possimus provident.
  </p>
</section>
